
island {

    font-family: "Source Code Pro", serif;
    font-size: 12px;
    background: #232323;
    color: #e6e1dc;
    display: block;

}

header_island {

    color: #bc9458;
    font-weight: bold;
    border-left: 6px solid #bc9458;
    margin-bottom: 20px;
    display: block;

}

heading:before {

    content: "Initial heading : ";

}

heading {

    padding-top: 5px;
    padding-left: 20px;
    display: block;

}

men:before {

    content: "Men provided : ";

}

men {

    padding-top: 2px;
    padding-left: 20px;
    display: block;

}

budget:before {

    content: "Budget provided : ";

}

budget {

    padding-top: 2px;
    padding-left: 20px;
    display: block;

}

contract {

    padding-left: 30px;
    padding-top: 10px;
    display: block;

}

contract_element {

    padding-top: 5px;
    display: block;

}

decision {

    color: #c26230;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-left: 6px solid #c26230;
    display: block;

}

id:before {

    content: "#";

}

id {

    color: #9b859d;
    display: inline;

}

name {

    color: #ffffff;
    display: inline;
    font-weight: bold;

}

parameter {

    padding-top: 3px;
    display: block;

}

cost:before {

    content: "Cost : ";

}

cost {

    display: block;

}

extra {

    color: #a5c261;
    font-style: italic;
    margin-top: 5px;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

found {

    color: #a5c261;
    font-style: italic;
    margin-top: 5px;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

range:before {

    content: "Range : ";

}

range {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-top: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

biomes {

}

biome {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

creeks {

}

creek {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

sites {

}

site {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

altitude:before {

    content: "Altitude : ";

}

altitude {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

asked_range:before {

    content: "Asked range : ";

}

asked_range {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

resources {



}

resource {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

resources_on_explore {

    margin-top: 3px;

}

amount:before {

    content: "Amount : ";

}

amount {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-top: 5px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

cond {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

production:before {

    content: "Production : ";

}

production {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

kind_of_prod {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

pois {

    margin-top: 5px;

}

kind {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

pois_id {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: block;

}

report {



}

report_on_range {

    margin-top: 5px;

}

percentage:after {

    content: "%";

}

percentage {

    color: #a5c261;
    font-style: italic;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 3px solid #a5c261;
    display: inline;

}

exception {

    color: #9b859d;
    border-left: 6px solid #9b859d;
    margin-bottom: 10px;
    display: block;

}

exception_type {

    color: #9b859d;
    font-weight: bold;
    padding-left: 10px;
    display: block;

}

message {

    color: #9b859d;
    font-weight: bold;
    padding-left: 10px;
    display: block;

}


